BAITANDO_LOCAL_IMPORT_ENV=

BAITANDO_TEST_CONNECTION=
BAITANDO_TEST_REMOTE_DEVOPS_DIR=
BAITANDO_TEST_REMOTE_WEB_DIR=
BAITANDO_TEST_WP_DB_NAME=
BAITANDO_TEST_WP_DB_HOST=
BAITANDO_TEST_WP_DB_USER=
BAITANDO_TEST_WP_DB_PASSWORD=
BAITANDO_TEST_WP_DB_PREFIX=
BAITANDO_TEST_REMOTE_PHP=
BAITANDO_TEST_BASIC_USER=
BAITANDO_TEST_BASIC_PASSWORD=
BAITANDO_TEST_IMPORT_ENV=
BAITANDO_TEST_SITEURL=